.encabezado {
    height: 100px;
    background-color:blue;
}

.cuerpo {
    height: 600px;
    background-image: url("electext.jpg");
}

.titulo {
    padding: 25px;
    color: white;
    font-size: 33px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline-block;
}

.logo {
    height: 50px;
    display: inline-block;
    padding-left: 30px;;
}

.mitmodal {
    display: none;
    height: 300px;
    width: 400px;
    background-color: azure;
    border-radius: 4%;
    padding-top: 10px;
    position: fixed;
    top: 30%;
    left: 38%;
}

#btn-login{
    float: right;
    width: 150px;
    height: 40px;
    margin-top: 30px;
    margin-right: 100px;
}